.header{

    width: 100%;


    .logo{
        width: 13rem;
        display: block;
    }

    .ml-auto{
        .nav-link{
            padding: 8px 15px;
            color: #443737;
        }
    }
    


    
}

